#sidebar {
    min-width: 80px; /* Adjust the width as needed */
    max-width: 80px;
  }
  
  #sidebar .nav-link {
    padding: 10px; /* Adjust the padding as needed */
    text-align: center; /* Center the text */
  }